h1{      
  text-align: center;
  font-size:65px;
  color:blue;
  transform: translateX(18%) translateY(50%);

}                                         
.padre{
    transform: translateY(-20%);
    background-color:mediumturquoise;
    height: 180px;
    width: 1490px;
    
}
p{
    color: white;
    font-size: 23px;
    text-align: center;
    transform: translateY(50%) translateX(20%);   
}
.Padre2{
   transform: translateY(-31%);
   background-color: white;
   height: 100px;    
   width: 270px;
   border: black 3px dashed;
}
.formula{
    background-color:aliceblue;
    transform: translateX(30%) translateY(45%);
}
.letra{
    text-align: center;
    color: black;
    font-size: 30px;
    transform: translateX(-5%) translateY(-25%);
}
.Padre3{
    transform: translateY(-12%);
    background-color: white;
    height: 250px;
    width: 270px;
    border: black 3px dashed;
    text-align: left;
    font-size: 25px;
}
.Enlaces{
    transform: translateY(10%) translateX(9%);
    
}
.Imagen{
    transform: translateY(-7%);
}
.Imagen2{
    transform: translateY(-8%);
}
.padre4{
    background-color: white;
    border: black 2.5px solid;
    height: 1165px;
    width: 1202px;
    position: relative;
    left: 291px;
    position: absolute;
    top: 189px;    
}
.letra3{
    text-align: left;
    color: white;
    font-size: 25px;
    background-color:blue;
    transform: translateX(0%) translateY(-85%);
}
.letra4{
    transform: translateX(-1%) translateY(-275%);
    text-align: right;
    color: white;
    font-size: 25px;
}
.caja{
    background-color: white;
    border: black 2.4px solid;
    width: 650px;
    height: 1050px;
    position: relative;
    left: 500px;
    position: absolute;
    top: 70px;
}
.caja2{
    background-color: white;
    border: black 2.4px solid;
    width: 440px;
    height: 200px;
    position: relative;
    left: 30px;
    position: absolute;
    top: 70px;
}
.Imagen3{
    transform:translateY(-25%);
    position: relative;
    left: 40px;
}
.caja3{
    background-color: white;
    border: black 2.4px solid;
    width: 440px;
    height: 20px;
    position: relative;
    left: 30px;
    position: absolute;
    top: 285px;
}
.Letra7{
    text-align:left;
    font-size: 15px;
    width: 440px;
    height: 20px;
    transform: translateX(1%) translateY(-80%);
}   
.Letra8{
    text-align: left;
    border: black 2.4px solid;
    font-size: 15px;
    transform: translateX(0%) translateY(-135%);

}
.Letra5{
    text-align: left;
    color: white;
    font-size: 25px;
    background-color:blue;
    transform: translateX(0%) translateY(-88%);    
}
.Letra6{
    text-align: left;
    color: white;
    font-size: 25px;
    background-color:blue;
    transform: translateX(0%) translateY(-88%);
}
.Texto{
  position: relative;
  left: 20px;
}
.Texto2{
    position: relative;
    left: 280px;
    transform: translateY(-110%);
}
.caja4{
    border: black 2.4px solid;
    width: 440px;
    height: 55px;
    position: relative;
    left: 30px;
    position: absolute;
    top: 350px;
}
.letra9{
    text-align: left;
    color: white;
    font-size: 25px;
    background-color:blue;
    transform: translateX(0%) translateY(-88%);
}
.letra10{
    color: black;
    font-size: 20px;
    position: relative;
    left: -40px;
    position: absolute;
    top: -2px;
}
.caja5{
    border: black 2.4px solid;
    width: 440px;
    height: 80px;
    position: relative;
    left: 30px;
    position: absolute;
    top: 430px;
}
.letra11{
    text-align: left;
    color: white;
    font-size: 25px;
    background-color:blue;
    transform: translateX(0%) translateY(-88%);
}
.letra12{
    text-align: left;
    color: black;
    font-size: 20px;
    position: relative;
    left: -54px;
    position: absolute;
    top: -10px;
}
.caja6{
    border: black 2.4px solid;
    width: 440px;
    height: 80px;
    position: relative;
    left: 30px;
    position: absolute;
    top: 537px;
}
.letra13{
    text-align: left;
    color: white;
    font-size: 25px;
    background-color:blue;
    transform: translateX(0%) translateY(-88%);
}
.letra14{
    text-align: left;
    color: black;
    font-size: 20px;
    position: relative;
    left: -54px;
    position: absolute;
    top: -10px;
}
.caja7{
    border: black 2.4px solid;
    width: 440px;
    height: 476px;
    position: relative;
    left: 30px;
    position: absolute;
    top: 645px;
}
.letra15{
    text-align: left;
    color: white;
    font-size: 25px;
    background-color:blue;
    transform: translateX(0%) translateY(-88%);
}
.imagen4{
    position: absolute;
    top: -10px;
    position: relative;
    left: 7px;
}
.letra16{
    position: relative;
    left: -150px;
    transform: translateY(-40%);
    color: black;
}
.letra17{
    position: relative;
    left: 10px;
    transform: translateY(-225%);
    color: black;
}
.letra18{
    position: relative;
    left: 150px;
    transform: translateY(-420%);
    color: black;
}
.Cajita{
    position: absolute;
    top: 270px;
}
.letra19{
    position: relative;
    left: -150px;
    transform: translateY(70%);
    color: black;
}
.letra20{
    position: relative;
    left: -10px;
    transform: translateY(-110%);
    color: black;   
}
.letra21{
    position: relative;
    left: 150px;
    transform: translateY(-300%);
    color: black;
}