body{
    background: lightslategrey;
}
.Padre1{
    background:
    radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
background-color: #840b2a;
    height: 180px;
}
.letra1{
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    font-size: 17px;
    position: relative;
    left: 40px;
    position: absolute;
    top: 40px;

}
.letra2{
    color: white;
    font-size: 40px;
    position: relative;
    left: 40px;
    position: absolute;
    top: 35px;
    text-shadow: 0px 20px 7px white;
}
.Formulario{
    position: relative;
    left: 1080px;   
    position: absolute;
    top: 130px;
}
.formulario1{
    background-color: brown;
}
.formulario2{
    background-color: brown;
}
.padre2{
    background-color: darkslategrey;
    height: 48px;
    box-shadow: 0px 10px 10px black;
    font-size: 20px;
    text-align: center;
}
.link1{
    position: relative;
    left: -500px;
}
.link2{
    position: absolute;
    left: 300px;
}
.link3{
    position: absolute;
    left: 500px;
}
.link4{
    position: absolute;
    left: 700px;
}
.link5{
    position: absolute;
    left: 900px;
}
.link6{
    position: absolute;
    left: 1100px;
}
.padre3{
    background-color: lightslategrey;
    height: 600px;
    width: 370px;
    text-align: left;
}
.mover{
    color: white;
    position: relative;
    left: 30px;
}
.boton2{
    position: relative;
    left: 250px;
}
.padre4{
    background-color: lightslategrey;
    height: 600px;
    width: 500px;
    position: relative;
    left: 400px;
    position: absolute;
    top: 253px;
}
.padre5{
    background-color: lightslategrey;
    height: 600px;
    width: 400px;
    position: relative;
    left: 930px;
    position: absolute;
    top: 253px;
}
.padre6{
    background-color: lightslategrey;
    height: 380px;
}
.padrecito1{
    background-color: lightslategrey;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 865px;
}
.padrecito2{
    background-color: lightslategrey;
    height: 300px;
    width: 300px;
    position: relative;
    left: 330px;
    position: absolute;
    top: 869px;
}
.padrecito3{
    background-color: lightslategrey;
    height: 300px;
    width: 300px;
    position: relative;
    left: 650px;
    position: absolute;
    top: 869px;
}
.padrecito4{
    background-color: lightslategrey;
    height: 300px;
    width: 300px;
    position: relative;
    left: 1000px;
    position: absolute;
    top: 869px;   
}
.padre7{
    height: 100px;
    background-color: black;
}

