.Padre2{
    height: 293px;
    border: black 0.1px solid;
    background-color: white;
    width: 360px;
    position: absolute;
    top: 160px;
}
.Padre3{
    border: black 0.1px solid;
    background-color: white;
    position: absolute;
    top: 23px;
    height: 293px;
    position: relative;
    left: 370px;
    width: 360px;
}
.Padre4{
    border:chartreuse  0.1px solid;
    background-color: white;
    width: 400px;
    position: relative;
    left: 745px;
    position: absolute;
    top: 161px;
}
.Padre5{
    background-color: white;
    width: 730px;
    position: absolute;
    top: 470px;
    height: 171px;
}